@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swaps);

.container {
  padding: 40px 10px 0 10px;
  margin-bottom: 150px;
  text-align: center;
  width: 80%;
  margin: auto;
}

.container-details-form {
  display: flex;
  flex-direction: row;
}

.container-details,
.container-form {
  margin: 20px;
}

.title {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
}
.details,
.form {
  margin-top: 40px;
}

.details {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
}

.result {
  display: flex;
  margin: 20px;
}

.result span {
  color: #2a5edc;
  text-align: end;
  width: 20%;
  font-weight: 500;
}

.result div {
  text-align: start;
  margin-left: 20px;
}

.text {
  margin: 20px;
  text-align: start;
}

.form {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.form-content {
  display: flex;
  width: 100%;
}

.row {
  width: 100%;
}

.container-input {
  margin: 20px;
  font-weight: 500;
}

input:focus {
  outline: none;
}

.container-input input {
  width: 100%;
  height: 40px;
  border: solid 1px #dadada;
  border-radius: 4px;
  padding-left: 10px;
  background-color: transparent;
}

.container-input input::placeholder {
  color: #3a3a3a;
  padding-left: 3px;
}

.container-input div {
  text-align: start;
  font-size: 12px;
  white-space: nowrap;
}

.custom-input {
  display: flex;
  border: solid 1px #dadada;
  border-radius: 4px;
}

.custom-input label {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px;
  border-right: solid 1px #dadada;
  height: 20px;
  margin-top: 10px;
}

.custom-input input {
  border: none;
}

hr {
  color: #dadada;
  width: 100%;
}

.container-buttons {
  text-align: end;
}

.container-buttons button {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
  height: 40px;
  border: solid 1px #2958db;
  border-radius: 4px;
  width: 200px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.button-primary {
  background-color: transparent;
  color: #2958db;
}

.button-secondary {
  background-color: #2958db;
  color: white;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form-content {
    flex-direction: column;
  }

  .details {
    width: auto;
  }

  .container-details-form {
    flex-direction: column;
  }

  .container-input {
    margin-left: 0;
  }

  .container-buttons button {
    text-align: center;
  }
}
